<div class="row">
	<h1>About the SFER portal</h1>
	<p>The member portal has a decent amount of history within SFER as a place where people could submit information and get resources on everything from chapter operations to public actions. This version is meant to be more accessible than the last, with concise resources and helpful features that promote learning and provide support to chapters.</p>

	<p>If you ever have questions, comments or suggestions for what could make your experience better, please let me know at <a href="mailto:mark@studentsforedreform.org">mark@studentsforedreform.org</a>.</p>

</div>
