/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */


@import "font-awesome";

.mark-loves-to-hover:hover {
  div.fill-top {
    z-index:99;
    // height: 50%;
    // transition: all 1.5s;

  }
  .fill-top img {
    opacity: 0.85;
    transition: all 0.4s;
  }
  div.fill-bottom {
    overflow: hidden;
    z-index: 101;
    transition: all 0.4s;
    padding-top: 10px;
    transform: translateY(-35%);
    -webkit-transform: translateY(-35%);
  }

  div.fill-bottom {
    // opacity: 0.95;
  }

  p {
    overflow: hidden;
    transition: all 0.4s;
    display: inline-block;
  }

}

@media (min-width: $screen-xs-max) and (max-width) $screen-sm-max) {

  .fill-bottom p {
    display: inline-block;
  }
 }
