<div class="footer">
  <div class="container">
    <div class="col-lg-6">
      <a class="btn btn-primary btn-md" role="button" href="http://sfer.formstack.com/forms/membership_database_form__copy">Sign up for our newsletter!</a>

    </div>
    <div class="col-lg-6 right">
      <h6 class="text-muted text-right">Copyright Students for Education Reform 2014</h6>
    </div>

  </div>
</div>
